:host {
  position: relative;
  box-sizing: border-box;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  
  justify-items: center;
  align-items: center;
}

.info {
  grid-area: 1 / 1 / -1 / -1;
  justify-self: center;
  align-self: center;

  width: calc(var(--bg-size) * 4);
  height: calc(var(--bg-size) * 4);
  display: grid;
  align-content: space-evenly;

  white-space: nowrap;
  text-align: center;

  background: #000;
  color: #fff;

  font-family: sans-serif;
  font-size: 30px;
}

.info-id {
  font-size: 70px;
  font-weight: 700;
  line-height: 1;
}