:host {
  position: relative;
  box-sizing: border-box;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;

  justify-items: stretch;
  align-items: stretch;
}

.content {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}